/*-------------------------------------- 
                 font 
 ----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');

/*-----------------------------------------
          common styles
------------------------------------------*/

body {
    font-family: 'Work Sans';
    font-style: normal;
    width: 1920px;
}

/*-----------------------------------------
           header
-----------------------------------------*/
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 144, 14, 0.1);

}

.header-right {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 477px;
    height: 39px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    padding-top: 63px;
    padding-right: 240px;
}

.header-left {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-left: 230px;
    padding-top: 50px;
}

/*-----------------------------------------
               banner
------------------------------------------*/
.heading-container {
    padding-top: 116px;
    background: rgba(255, 144, 14, 0.1);
    text-align: center;
    width: 1920px;
    height: 1322px;
}

.heading-item {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.heading-text {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.heading-btn {
    width: 180px;
    height: 64px;
    border: none;
    background: #FF900E;
    border-radius: 8px;
}

.btn1 {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

.banner {

    padding-top: 50px;
    padding-bottom: 45px;
}

/*-----------------------------------------
             Quick list
                 of
              features   
------------------------------------------*/
.quick-list-container {
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    gap: 45px;
    align-items: center;
}

.quick-list-pic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    margin-left: 300px;
}

.item {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.item1 {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.item2 {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

/*---------------------------------
           features
----------------------------------*/
.feature-container {
    margin-top: 120px;
    display: flex;
    gap: 150px;
    width: 1446px;
    height: 1059px;

}

.feature {
    width: 586px;
    height: 171px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.features {
    margin-left: 234px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    width: 586px;
    height: 171px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

}

.feature-head {
    font-weight: 700;
    color: #131313;
    font-size: 45px;
}

.rectangle {
    width: 5px;
    height: 106px;
    background: #FF900E;

}

.feature-design {
    display: flex;
    align-items: center;
    gap: 23px;
}

.feature-item {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.feature-content {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.feature-banner {
    width: 708px;
    height: 982px;
    margin-right: 240px;
}

.experience-btn {
    margin-left: 880px;
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
}

.ex-btn {
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
    background-color: #FF900E;
    padding: 46px;
    border: none;
    border-radius: 8px;
}

.ex-btn1 {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    background-color: #FF900E;
    align-items: center;
    border: none;
    border-radius: 8px;
}

/*----------------------------------------
               some fects
------------------------------------------*/

.some-facts {
    padding-left: 240px;
}

.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 290px;
    margin-top: 100px;
}

.facts {
    width: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 241.83px;
    
    
}

.number {
    font-weight: 600;
    text-align: center;
    font-size: 45px;
    color: #424242;
}

.facts img {
    width: 45px;
    height: 45pxS;
    padding-left: 100px;
}

.fact {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    text-align: center;
}

/*------------------------------------
            Sponspors
-------------------------------------*/
.sponspors{
    margin-top: 120px;
    text-align: center;
    padding-bottom: 50px;
}
.sponspor-head{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding-bottom: 24px;
}
.sponspor-text{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-bottom: 50px;
}
.sponspor-item{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-left: 240px;
    padding-bottom: 120px;

}
/*-----------------------------------------
            copy right line
-----------------------------------------*/            


.main-last{
    width: 1520px;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
    margin-left: 240px;
    margin-bottom: 220px;
    
}
.main-last-item{
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    text-align: center;
    padding-top: 39px;
    
}
/*-------------------------------------------
               Mobile device
--------------------------------------------*/
@media only screen and (max-width:688px)
{
   

    .header, .heading-container, .header-right, .quick-list-pic{
        width: 680px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }

    .header-left, .heading-item, .heading-text,  .header-right{
      width: 200px;
      margin-left: 100px;
      height: 16px;
    }
  
    .banner{
        display: none;
    }
   .heading-item{
    text-align: start;
    font-weight: 700;
    font-size: 45px;
   }
   .heading-btn{
    margin-left: 120px;

   }
  .quick-list-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .item{
    margin-left: 100px;
  }
 
   .heading-btn{
      margin-top: 150px;
   }
.feature-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    
}

.feature-banner{
    max-width: 608px;
    max-height: 882px;
    margin-top: 980px;
}
.experience-btn{
    margin-left: 200px;
    margin-top: 20px;
}
.features{
    margin-left: 80px;
}
.some-facts{
    margin-top: 1000px;
    max-width: 680px;
}
 .fact-container, .sponspor-item{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 60px;
}

.sponspors{
    max-width: 608px;
    max-height: 600px;
}
 .main-last-item, .main-last{
    width: 600px;
    margin-left: 10px;
 }
 

 }








  
  

